In [3]:
import pandas as pd
preData={'Apples':[30],
        'Bananas':[21]}
data=pd.DataFrame(preData)
data.head()

   Apples  Bananas
0      30       21

In [8]:
preData={'Apples':[30,41],
        'Bananas':[21,34]}
data=pd.DataFrame(preData,index=['2017 Sales','2018 Sales'])
data.head()

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

In [10]:
obj=pd.Series(['4 cups','1 cup','2 large','1 can'],
              index=['Flour','Milk','Eggs','Spam'])
obj

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

<code>iloc</code> method provides integer index-based location

In [13]:
obj.loc['Spam']==obj.iloc[3]

True

Notice that <code>iloc</code> indexing follows python's convention: it excludes the last index (<code>loc</code> is inclusive. this is a know **pandas' gotcha** behavior)

In [42]:
print(obj.iloc[0:3])

Flour     4 cups
Milk       1 cup
Eggs     2 large
dtype: object

In [5]:
short = pd.read_csv('../simulations.csv')
short=short.drop(['shift index: 0->plots h 1->plots phi 2->plots S',
                 'Unnamed: 16'], axis=1)#dropping columns with awkward names
short.head()

,neq,length of domain,length of precursor film,Ca,tmax,dt,alpha,kappa,delta,substrate temperature,Marangoni number,Peclet number,phi_0 < 0.64,window height,continue computations?
0,2000,5.0,0.01,173.65,50.0,0.000010,0.0058,0.1736,0.1736,0.1,0.000,1736.5,0.50,1.50,0
1,2000,5.0,0.01,1000.00,100.0,0.000010,0.0010,1.0000,1.0000,0.1,0.000,10000.0,0.10,1.50,0
2,1500,3.0,0.01,1000.00,100.0,0.000001,0.1000,1.0000,1.0000,1.0,0.050,10000.0,0.05,0.64,0
3,1500,3.0,0.01,1000.00,100.0,0.000001,0.0010,1.0000,1.0000,10.0,0.010,10000.0,0.05,0.64,0
4,2000,5.0,0.01,1000.00,100.0,0.000010,0.1000,1.0000,1.0000,1.0,0.001,10000.0,0.05,1.50,0

binary search on a column

In [48]:
short.loc[short['length of domain'] < 5,:]

,neq,length of domain,length of precursor film,Ca,tmax,dt,alpha,kappa,delta,substrate temperature,Marangoni number,Peclet number,phi_0 < 0.64,window height,continue computations?
2,1500,3.0,0.01,1000.00,100.000000,0.000001,0.1000,1.0000,1.0000,1.0,0.0500,10000.0,0.05,0.64,0
3,1500,3.0,0.01,1000.00,100.000000,0.000001,0.0010,1.0000,1.0000,10.0,0.0100,10000.0,0.05,0.64,0
5,1500,3.0,0.01,1000.00,100.000000,0.000001,0.0010,1.0000,1.0000,10.0,0.0001,10000.0,0.05,0.64,0
6,1500,3.0,0.01,1000.00,100.000000,0.000010,0.1000,1.0000,1.0000,1.0,0.0100,10000.0,0.05,1.50,0
7,1500,3.0,0.01,1000.00,100.000000,0.000001,0.0010,1.0000,1.0000,10.0,0.0050,10000.0,0.05,0.64,0
8,1500,3.0,0.01,1000.00,1.731322,0.000001,0.0010,1.0000,1.0000,10.0,0.0050,10000.0,0.05,0.64,0
9,1500,3.0,0.01,1000.00,100.000000,0.000010,0.1000,1.0000,1.0000,1.0,0.0000,10000.0,0.05,1.50,0
10,1500,3.0,0.01,1000.00,100.000000,0.000001,0.0010,1.0000,1.0000,10.0,0.0000,10000.0,0.05,0.64,0
34,1200,2.0,0.01,173.65,50.000000,0.000010,0.0058,0.1736,0.1736,5.0,0.0000,1736.5,0.10,1.50,0
44,1200,2.0,0.01,173.65,50.000000,0.000010,0.0058,0.1736,0.1736,0.7,0.0000,1736.5,0.10,1.50,0

modifying values based on binary searches, and locating null values in cells

In [52]:
import numpy as np
short.loc[short['continue computations?'] >0,'window height']=np.NaN
short.loc[short['window height'].isnull(),:]

,neq,length of domain,length of precursor film,Ca,tmax,dt,alpha,kappa,delta,substrate temperature,Marangoni number,Peclet number,phi_0 < 0.64,window height,continue computations?
114,4000,10.0,0.1,173.648,40.00000,0.00001,1.0,0.1,0.001,0.001,0.00001,1736.4818,0.4,NaN,1
119,4000,10.0,0.1,173.648,37.12712,0.00001,1.0,0.1,0.000,0.000,0.00001,1736.4818,0.4,NaN,1

descriptive statistics of variables

In [53]:
short.neq.median()

2000.0

subset of unique values of a column

In [54]:
short['length of domain'].unique()

array([ 5.,  3., 10.,  2., 20.])

frequencies of unique values in a column

In [55]:
short['length of domain'].value_counts()

5.0     92
10.0    26
3.0      8
2.0      2
20.0     1
Name: length of domain, dtype: int64

remaping values in a column with the <code>map()</code> method (**it doesn't alter the values in the dataframe**)

In [59]:
print('median after division = {}'.format(short.neq.map(lambda v: v/2).median()))
print('original median = {}'.format(short.neq.median()))
print('thus the map method above modifies the series \'short.neq\'')

median after division = 1000.0
original median = 2000.0
thus the map method above modifies the series 'short.neq'

Find the row where the maximum points per unit length were used in a simulation (<code>idxmax()</code> method finds the first index --along requested axis-- where the maximum occurs)

In [74]:
short.loc[(short.neq/short['length of domain']).idxmax()]

neq                         1200.00000
length of domain               2.00000
length of precursor film       0.01000
Ca                           173.65000
tmax                          50.00000
dt                             0.00001
alpha                          0.00580
kappa                          0.17360
delta                          0.17360
substrate temperature          5.00000
Marangoni number               0.00000
Peclet number               1736.50000
phi_0 < 0.64                   0.10000
window height                  1.50000
continue computations?         0.00000
Name: 34, dtype: float64

Notice that the command <code>short.neq/short['length of domain']</code> does an element-wise division and returns the result in a new pandas series

### Examples with string data

In [93]:
wines = pd.read_csv('wine_reviews.csv')
wines.head()

,wine,description,country,variety
0,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",Italy,White Blend
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Portugal,Portuguese Red
2,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",US,Pinot Gris
3,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",US,Riesling
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",US,Pinot Noir

Is a wine more likely to be "tropical" or "fruity"?

In [90]:
tropical_wine = wines.description.map(lambda r: "tropical" in r).value_counts()
print(tropical_wine)
print('--------------')
print('so, if we select the row \'True\' we get the number of times that \'tropical\' \nappears in the \'description\' column')
print('\'tropical\' appears {} times in the description column'.format(tropical_wine[True]))

False    192
True       8
Name: description, dtype: int64
--------------
so, if we select the row 'True' we get the number of times that 'tropical'
appears in the 'description' column
'tropical' appears 8 times in the description column

In [91]:
fruity_wine = wines.description.map(lambda r: "fruity" in r).value_counts()
pd.Series([tropical_wine[True], fruity_wine[True]], index=['tropical', 'fruity'])

tropical     8
fruity      11
dtype: int64

What combination of countries and varieties are most common?

In [94]:
common=(wines.country.notnull())&(wines.variety.notnull())
tmp=pd.DataFrame({'country':wines.country[common],
                 'variety':wines.variety[common]})
wType=tmp.country+' - '+tmp.variety
wType.value_counts()

US - Cabernet Sauvignon           13
Italy - Red Blend                 12
US - Pinot Noir                   12
US - Chardonnay                    8
US - Riesling                      7
France - Gamay                     7
Germany - Riesling                 7
Italy - Sangiovese                 6
US - Red Blend                     6
Italy - White Blend                6
Italy - Nebbiolo                   5
US - Syrah                         4
France - Chardonnay                4
US - Sauvignon Blanc               4
US - Bordeaux-style Red Blend      4
Italy - Nero d'Avola               3
France - Gewürztraminer            3
US - Cabernet Franc                3
US - Merlot                        3
US - Zinfandel                     3
France - Pinot Gris                3
US - Pinot Gris                    3
France - Champagne Blend           2
Chile - Red Blend                  2
Chile - Merlot                     2
Portugal - Portuguese Red          2
US - Meritage                      2
Chile - Cabernet Sauvignon         2
South Africa - Chenin Blanc        2
Chile - Chardonnay                 2
                                  ..
France - Riesling                  1
Italy - Aglianico                  1
Italy - Catarratto                 1
New Zealand - Sauvignon Blanc      1
Italy - Frappato                   1
France - Petit Manseng             1
Spain - Tempranillo Blend          1
Italy - Barbera                    1
Italy - Rosato                     1
US - Chenin Blanc                  1
Australia - Cabernet Sauvignon     1
Portugal - Portuguese White        1
Spain - Tempranillo-Merlot         1
Portugal - Touriga Nacional        1
France - White Blend               1
Austria - Grüner Veltliner         1
Argentina - Torrontés              1
Italy - Monica                     1
Italy - Vermentino                 1
Chile - Pinot Noir                 1
US - Albariño                      1
Italy - Grillo                     1
Spain - Albariño                   1
Italy - Nerello Mascalese          1
Australia - Rosé                   1
US - Viognier                      1
Spain - Graciano                   1
France - Pinot Blanc               1
Italy - Primitivo                  1
US - Grenache Blanc                1
Length: 83, dtype: int64