In [28]:
import pandas as pd
#pd.set_option("display.max_rows", 10)
wines = pd.read_csv('wine_reviews.csv')
wines.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

`apply()` used to fill `NaN`'s with elements in another column:

In [6]:
wines.apply(lambda srs: srs.region_1 if pd.notnull(srs.region_1) else srs.province, 
                        axis='columns')

0                   Etna
1                  Douro
2      Willamette Valley
             ...
197         Western Cape
198          Napa Valley
199        Nevada County
Length: 200, dtype: object

`assign()` creates or replaces an existing column:

In [17]:
wines.assign(
    region_1=wines.apply(lambda srs: srs.region_1 if pd.notnull(srs.region_1) else srs.province, 
                        axis='columns')
)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Douro,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,South Africa,"This is a concentrated, fairly full and lush C...",21 Gables,90,23.0,Western Cape,Western Cape,NaN,Lauren Buzzeo,@laurbuzz,Spier 2014 21 Gables Chenin Blanc (Western Cape),Chenin Blanc,Spier
198,US,"This is a soft, well-crafted wine from the eas...",Four Soil Mélange,90,60.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Sequum 2013 Four Soil Mélange Cabernet Sauvign...,Cabernet Sauvignon,Sequum
199,US,"This is a beatifully balanced, not-too-full-bo...",Rising Starr Estate Bottled,90,28.0,California,Nevada County,Sierra Foothills,Jim Gordon,@gordone_cellars,Sierra Starr 2014 Rising Starr Estate Bottled ...,Cabernet Franc,Sierra Starr

### Database recording chess-game information

In [21]:
chess_games = pd.read_csv("../chess_games.csv")
chess_games.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

Who wins more often?

In [23]:
(chess_games.groupby('winner').winner.count()
 .apply(lambda x: round(x/len(chess_games),2)))
#answer_q1():
#chess_games['winner'].value_counts() / len(chess_games)

winner
black    0.46
draw     0.04
white    0.51
Name: winner, dtype: float64

what the most commonly used chess openings? The `opening_name` variable contains this information.  However, it gives a bit _too_ much detail, including information on the variation used for the most common opening types.

In [22]:
chess_games.opening_name.tolist()

['Slav Defense: Exchange Variation',
 'Nimzowitsch Defense: Kennedy Variation',
 "King's Pawn Game: Leonardis Variation",
 "Queen's Pawn Game: Zukertort Variation",
 'Philidor Defense',
 'Sicilian Defense: Mongoose Variation',
 'Blackmar-Diemer Gambit: Pietrowsky Defense',
 'Nimzowitsch Defense: Kennedy Variation |  Linksspringer Variation',
 'Italian Game: Schilling-Kostic Gambit',
 'Scandinavian Defense: Mieses-Kotroc Variation',
 "Van't Kruijs Opening",
 'French Defense: Advance Variation |  Paulsen Attack',
 'French Defense: Knight Variation',
 'French Defense #2',
 'Four Knights Game: Italian Variation',
 'Italian Game: Two Knights Defense |  Knight Attack',
 'Four Knights Game: Italian Variation',
 'Four Knights Game: Italian Variation',
 'Philidor Defense #3',
 "Queen's Pawn Game",
 'Italian Game: Anti-Fried Liver Defense',
 'Horwitz Defense',
 'Sicilian Defense: Bowdler Attack',
 "English Opening: King's English Variation |  Reversed Closed Sicilian",
 'Sicilian Defense: Smith-Morra Gambit #2',
 "Queen's Pawn Game: Chigorin Variation",
 'Scotch Game: Haxo Gambit',
 "Queen's Pawn Game: Chigorin Variation",
 'Slav Defense',
 "Queen's Gambit Refused: Marshall Defense",
 'Sicilian Defense: Smith-Morra Gambit #2',
 'Sicilian Defense: Canal Attack |  Main Line',
 'Sicilian Defense',
 "Queen's Gambit Accepted: Central Variation |  Greco Variation",
 'Sicilian Defense: Bowdler Attack',
 'Robatsch (Modern) Defense',
 'Blackmar-Diemer Gambit: Tartakower Variation',
 'Indian Game',
 'Sicilian Defense: Dragon Variation |  Yugoslav Attack |  Main Line',
 "English Opening: King's English Variation |  Reversed Sicilian",
 'Sicilian Defense: Dragon Variation',
 'Sicilian Defense: Closed Variation',
 'Sicilian Defense: Smith-Morra Gambit #2',
 'Sicilian Defense: Dragon Variation |  Yugoslav Attack |  Modern Line',
 'Sicilian Defense: Smith-Morra Gambit #2',
 'Sicilian Defense: Bowdler Attack',
 'Scandinavian Defense',
 'Sicilian Defense: Bowdler Attack',
 'Sicilian Defense: Dragon Variation |  Yugoslav Attack |  Main Line',
 'Scandinavian Defense: Mieses-Kotroc Variation',
 'French Defense: Normal Variation',
 "King's Pawn Game: Beyer Gambit",
 'Dutch Defense',
 "English Opening: King's English Variation",
 'Zukertort Opening: Ross Gambit',
 'Sicilian Defense: Closed Variation',
 'Vienna Game: Mengarini Variation',
 'Philidor Defense: Larsen Variation',
 'Scotch Game',
 'Philidor Defense: Lopez Countergambit',
 'French Defense: Knight Variation',
 'Modern Defense',
 'Horwitz Defense',
 'Blumenfeld Countergambit #2',
 'French Defense #2',
 'Zukertort Opening: Kingside Fianchetto',
 'Indian Game',
 "French Defense: Queen's Knight",
 "Queen's Pawn Game: Mason Attack",
 "Queen's Pawn Game: Mason Attack",
 "Queen's Pawn",
 'Indian Game',
 'French Defense: Advance |  Steinitz Variation',
 "Queen's Pawn Game: Mason Attack",
 'French Defense: Exchange Variation',
 'Horwitz Defense',
 "Queen's Pawn Game: London System",
 'French Defense: Chigorin Variation',
 "Queen's Pawn Game: London System",
 'French Defense: La Bourdonnais Variation',
 "Queen's Pawn Game: Mason Attack",
 "Queen's Pawn Game: London System",
 'English Opening: Anglo-Lithuanian Variation',
 'Crab Opening',
 "Queen's Pawn Game: Mason Attack",
 "Queen's Pawn",
 'French Defense: Winawer Variation |  Advance Variation #2',
 "Queen's Pawn Game: London System",
 "Queen's Pawn Game: Mason Attack",
 'French Defense: Knight Variation',
 "Queen's Pawn Game: London System",
 "French Defense: Queen's Knight",
 "Queen's Pawn Game: Steinitz Countergambit",
 "Queen's Pawn Game: London System",
 "Queen's Indian Defense",
 'Horwitz Defense',
 "Queen's Pawn Game: London System",
 'Italian Game: Giuoco Pianissimo |  Normal',
 "Queen's Gambit Refused: Marshall Defense",
 "Queen's Gambit Refused: Marshall Defense",
 'French Defense: Marshall Variation',
 'Scotch Game',
 'French Defense: Advance Variation |  Main Line',
 'Philidor Defense',
 'Gruenfeld Defense',
 'French Defense: Knight Variation',
 'French Defense: Rubinstein Variation |  Fort Knox Variation',
 "Queen's Gambit Declined: Traditional Variation",
 "Queen's Gambit Accepted: Old Variation",
 'French Defense: Advance Variation |  Paulsen Attack',
 "Queen's Gambit Declined: Semi-Tarrasch |  5.cxd5",
 "Queen's Gambit Accepted: Old Variation",
 'Yusupov-Rubinstein System',
 "Queen's Gambit Declined: Queen's Knight Variation",
 'Ruy Lopez: Classical Variation',
 "Queen's Pawn Game: Zukertort Variation",
 "Queen's Pawn Game: London System",
 'Ruy Lopez: Classical Variation |  Central Variation',
 "Bishop's Opening: Ponziani Gambit",
 'Benoni Defense: Benoni-Indian Defense |  Kingside Move Order',
 "King's Indian Attack: French Variation",
 "Queen's Pawn Game: London System",
 'Nimzowitsch Defense: Mikenas Variation',
 'Italian Game',
 'Alekhine Defense #2',
 'Sicilian Defense: Nimzowitsch Variation',
 'Four Knights Game: Italian Variation',
 'Italian Game: Two Knights Defense |  Fried Liver Attack',
 'Italian Game: Anti-Fried Liver Defense',
 'Italian Game: Two Knights Defense |  Fried Liver Attack',
 'Alekhine Defense: Maroczy Variation',
 "Queen's Gambit Refused: Marshall Defense",
 'Italian Game: Anti-Fried Liver Defense',
 'Alekhine Defense: Two Pawn Attack |  Lasker Variation',
 'Caro-Kann Defense: Exchange Variation',
 "Queen's Pawn Game #2",
 'Sicilian Defense: Modern Variations |  Main Line',
 "English Opening: King's English Variation",
 'Goldsmith Defense',
 'Nimzo-Indian Defense',
 'Italian Game: Two Knights Defense |  Fried Liver Attack',
 'Alekhine Defense',
 "Queen's Gambit Refused: Marshall Defense",
 'Italian Game',
 'Four Knights Game: Italian Variation',
 'Bogo-Indian Defense: Exchange Variation',
 'Alekhine Defense',
 'Alekhine Defense: Saemisch Attack',
 "King's Knight Opening",
 "Queen's Gambit Declined",
 'French Defense: Classical Variation |  Steinitz Variation',
 'Alekhine Defense: Two Pawn Attack',
 'Vienna Game: Vienna Gambit',
 'Modern Defense',
 'Scandinavian Defense: Panov Transfer',
 'Yusupov-Rubinstein System',
 'Sicilian Defense: Nyezhmetdinov-Rossolimo Attack',
 'Benoni Defense',
 'Sicilian Defense: Hyperaccelerated Dragon',
 'Italian Game: Anti-Fried Liver Defense',
 'Ruy Lopez: Berlin Defense #2',
 'Sicilian Defense: Najdorf |  Lipnitsky Attack',
 'French Defense: Knight Variation',
 'Sicilian Defense: Delayed Alapin',
 'Sicilian Defense: Canal-Sokolsky Attack',
 'Amar Opening',
 'Ruy Lopez: Morphy Defense |  Classical Defense Deferred',
 'Sicilian Defense',
 "Queen's Pawn",
 'Caro-Kann Defense: Two Knights Attack |  Mindeno Variation',
 'Sicilian Defense: Alapin Variation',
 'Sicilian Defense: French Variation',
 'French Defense: Knight Variation',
 'Paleface Attack',
 'Sicilian Defense',
 'Sicilian Defense: Nyezhmetdinov-Rossolimo Attack |  Fianchetto Variation',
 'Sicilian Defense',
 'Caro-Kann Defense: Classical Variation |  Flohr Variation',
 'Ruy Lopez: Bird Variation',
 'Sicilian Defense: Najdorf Variation |  Adams Attack',
 'Blumenfeld Countergambit #2',
 "Italian Game: Two Knights Defense |  Modern Bishop's Opening",
 'Ruy Lopez: Morphy Defense #2',
 'Ruy Lopez: Morphy Defense |  Classical Defense Deferred',
 'Sicilian Defense: Old Sicilian',
 'Caro-Kann Defense',
 "Queen's Gambit Refused: Marshall Defense",
 'Scandinavian Defense: Mieses-Kotroc Variation',
 'Sicilian Defense: Old Sicilian',
 'Philidor Defense',
 'Sicilian Defense: Alapin Variation',
 'Sicilian Defense',
 'Sicilian Defense: Nyezhmetdinov-Rossolimo Attack',
 'Hungarian Opening',
 "Queen's Pawn Game #3",
 "Van't Kruijs Opening",
 'French Defense: Normal Variation',
 'Center Game: Berger Variation',
 "Italian Game: Giuoco Piano |  Greco's Attack",
 'Four Knights Game: Italian Variation']

the <code>apply()</code> method gives **direct acces to the sliced dataframe and allows us to operate on it**. 

For example we can find the maximum substrate temperature for each group of lenght of domain in the dataframe

In [25]:
(chess_games
         .opening_name
         .apply(lambda n: n.split(":")[0].split("|")[0].split("#")[0].strip())
         .value_counts())#this is correct
#answer_q2() #he used map instead of apply

Sicilian Defense        36
French Defense          23
Queen's Pawn Game       23
                        ..
King's Indian Attack     1
Goldsmith Defense        1
Dutch Defense            1
Name: opening_name, Length: 44, dtype: int64

the function 

`lambda n: n.split(":")[0].split("|")[0].split("#")[0].strip()`

selects the main part of the opening move, by sequentially stripping what comes after ':', '|' or '#' from the string. `strip()` removes spaces at the beggining and end of the string

* count the number of outcomes for each player

In [30]:
# my solution
chess_games.groupby('white_id').victory_status.value_counts().head(20)

white_id        victory_status
a-00            resign            1
acahn           resign            1
adnanraj        resign            1
allahdeweswin   mate              1
amary33         mate              1
aminox          mate              1
anrk            resign            1
ashishbarda     resign            1
avelez8         resign            4
                outoftime         3
                draw              1
azcatdave       outoftime         1
berejokserg     resign            1
biyanivedant01  resign            1
bourgris        outoftime         1
capa_jr         resign            1
caramiecho72    resign            1
cdvh            resign            3
                mate              1
                outoftime         1
Name: victory_status, dtype: int64

In [32]:
# solution in the tutorial:
(chess_games
    .assign(n=0)#adds column 'n' filled with zeroes
    .groupby(['white_id', 'victory_status'])
    .n
    .apply(len)#tells us the length of a given group!
    .reset_index()#removes the double index which results from groupby
    .head(20)
)

          white_id victory_status  n
0             a-00         resign  1
1            acahn         resign  1
2         adnanraj         resign  1
3    allahdeweswin           mate  1
4          amary33           mate  1
5           aminox           mate  1
6             anrk         resign  1
7      ashishbarda         resign  1
8          avelez8           draw  1
9          avelez8      outoftime  3
10         avelez8         resign  4
11       azcatdave      outoftime  1
12     berejokserg         resign  1
13  biyanivedant01         resign  1
14        bourgris      outoftime  1
15         capa_jr         resign  1
16    caramiecho72         resign  1
17            cdvh           mate  1
18            cdvh      outoftime  1
19            cdvh         resign  3

* Create a DataFrame like the one above, but only include users who are in the top 20 users by number of games played

In [44]:
#display users by number of games played. notice use of groupby and len to count events
chess_games.groupby('white_id').apply(len).sort_values(ascending=False)[0:10]

#equivalent to
#chess_games['white_id'].value_counts()[0:10]

white_id
oldpaths              21
isachess              19
sassou                15
shivangithegenius     15
avelez8                8
daniel_likes_chess     6
cdvh                   5
rajuppi                4
sureka_akshat          3
lucasimeon             2
dtype: int64

In [35]:
# my solution:
users=chess_games['white_id'].value_counts()[0:20].index.tolist()
selected=chess_games.loc[chess_games['white_id'].apply(lambda x: True if x in users else False)]
(selected
    .assign(n=0)#adds column 'n' filled with zeroes
    .groupby(['white_id', 'victory_status'])
    .n
    .apply(len)#tells us the length of the group!
    .reset_index()
)

              white_id victory_status   n
0                 a-00         resign   1
1               aminox           mate   1
2              avelez8           draw   1
3              avelez8      outoftime   3
4              avelez8         resign   4
5         caramiecho72         resign   1
6                 cdvh           mate   1
7                 cdvh      outoftime   1
8                 cdvh         resign   3
9   clown_with_a_knife         resign   1
10  daniel_likes_chess           mate   2
11  daniel_likes_chess         resign   4
12            isachess           draw   1
13            isachess           mate   1
14            isachess      outoftime   3
15            isachess         resign  14
16            lotfibma         resign   1
17          lucasimeon         resign   2
18          marmoraka5           mate   1
19      mazyaraghgmail         resign   1
20            oldpaths           mate   3
21            oldpaths         resign  18
22          patrizio67      outoftime   1
23             rajuppi           mate   2
24             rajuppi         resign   2
25              sassou           draw   1
26              sassou           mate   9
27              sassou         resign   5
28   shivangithegenius           mate   4
29   shivangithegenius         resign  11
30       sureka_akshat           draw   1
31       sureka_akshat           mate   1
32       sureka_akshat         resign   1
33             taranga           mate   2
34           trelynn17           draw   1
35           trelynn17         resign   1

In [46]:
# tutorial solution
(chess_games
    .assign(n=0)
    .groupby(['white_id', 'victory_status'])
    .n
    .apply(len)
    .reset_index()
    .pipe(lambda df: df.loc[df.white_id.isin(chess_games.white_id.value_counts().head(20).index)])
)

               white_id victory_status   n
0                  a-00         resign   1
5                aminox           mate   1
8               avelez8           draw   1
9               avelez8      outoftime   3
10              avelez8         resign   4
16         caramiecho72         resign   1
17                 cdvh           mate   1
18                 cdvh      outoftime   1
19                 cdvh         resign   3
24   clown_with_a_knife         resign   1
27   daniel_likes_chess           mate   2
28   daniel_likes_chess         resign   4
50             isachess           draw   1
51             isachess           mate   1
52             isachess      outoftime   3
53             isachess         resign  14
67             lotfibma         resign   1
68           lucasimeon         resign   2
72           marmoraka5           mate   1
73       mazyaraghgmail         resign   1
82             oldpaths           mate   3
83             oldpaths         resign  18
85           patrizio67      outoftime   1
91              rajuppi           mate   2
92              rajuppi         resign   2
100              sassou           draw   1
101              sassou           mate   9
102              sassou         resign   5
107   shivangithegenius           mate   4
108   shivangithegenius         resign  11
111       sureka_akshat           draw   1
112       sureka_akshat           mate   1
113       sureka_akshat         resign   1
114             taranga           mate   2
118           trelynn17           draw   1
119           trelynn17         resign   1

The `points` column in the `wine_reviews` dataset is measured on a 20-point scale between 80 and 100. Create a `Series` which normalizes the ratings so that they fit on a 1-to-5 scale instead (e.g. a score of 80 translates to 1 star, while a score of 100 is five stars). Set the `Series` name to "Wine Ratings", and sort by index value (ascending).

In [60]:
#my solution:
(wines.points
     .apply(lambda x: x/5 -15)
     .value_counts()
     .rename('Wine Ratings')
     .sort_values(ascending=False)
     #.hist(bins=5)
)

2.4    55
2.2    52
3.2    42
2.6    27
3.0    10
2.0     8
3.4     6
Name: Wine Ratings, dtype: int64

solution in the tutorial: (notice that he sorts the index, not the values)

In [58]:
# tutorial solution:
(((wines['points'].dropna() - 75) / 5)
    .value_counts()
    .sort_index()
    .rename_axis("Wine Ratings")
)

Wine Ratings
2.0     8
2.2    52
2.4    55
2.6    27
3.0    10
3.2    42
3.4     6
Name: points, dtype: int64

The `Stars` column in the `ramen_reviews` dataset is the ramen equivalent to the similar data points in `wine_reviews`. It is already on a 0-to-5 scale, but it has some different problems. Create a `Series` counting how many ramens earned each of the possible scores in the dataset. Convert the `Series` to the `float64` dtype and drop rames whose rating is `"Unrated"`. Set the name of the `Series` to "Ramen Ratings". Sort by index value (ascending).

** my solution:**

```python
#find indices for unrated rows first
inds=ramen_reviews.loc[ramen_reviews.loc[:,'Stars'] == 'Unrated'].index.values
(ramen_reviews
     .drop(inds)
     .Stars
     .astype('float64') #converts to float64 type
     .value_counts()
     .sort_index()
    .rename_axis("Ramen Ratings")
)```

** tutorial solution:**

```python
(ramen_reviews
    .Stars
    .replace('Unrated', None)#NOTE use of replace
    .dropna()
    .astype('float64')
    .value_counts()
    .rename_axis("Ramen Reviews")
    .sort_index())```